{% extends "includes/base.html" %}

{% block body %}
    <div class="row">
      <div class="col-sm-2 col-lg-offset-3">
          <h2>Details</h2>
            <ul class="list-group">
              <span class="label label-info">Site Name:</span><li class="list-group-item"> {{entry.site_name}}</li><br>
              <span class="label label-info">Site URL:</span><li class="list-group-item"> {{entry.site_url}}</li><br>
              <span class="label label-info">Login Name:</span><li class="list-group-item"> {{entry.login_account_name}}</li><br>
              <span class="label label-info">Password:</span><li class="list-group-item"> {{password}}</li><br>
            </ul>
      </div>
      <div class="col-sm-3 col-lg-offset-1">
        <h2>Update site</h2>
         <form name="form" method="post" action="/edit/{{ entry.id }}">
             <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                <div class="row control-group">
                    {% from "_formhelpers.html" import render_field %}
                    <div class="form-group col-sm-12 floating-label-form-group controls">
                        <!--<label>Email Address</label>-->
                        {{ render_field(form.site_name, class="form-control")}}
                        <!--<input>-->
                        <p class="help-block text-danger"></p>
                    </div>
                </div>
                <div class="row control-group">
                    <div class="form-group col-xs-12 floating-label-form-group controls">
                        <!--<label>Email Address</label>-->
                        {{ render_field(form.site_url, class="form-control")}}
                        <!--<input>-->
                        <p class="help-block text-danger"></p>
                    </div>
                </div>
                <div class="row control-group">
                    <div class="form-group col-xs-12 floating-label-form-group controls">
                        <!--<label>Email Address</label>-->
                        {{ render_field(form.login_name, class="form-control")}}
                        <!--<input>-->
                        <p class="help-block text-danger"></p>
                    </div>
                </div>
                <div class="row control-group">
                    <div class="form-group col-xs-12 floating-label-form-group controls">
                        <!--<label>Email Address</label>-->
                        {{ render_field(form.password, class="form-control")}}
                        <!--<input>-->
                        <p class="help-block text-danger"></p>
                    </div>
                </div>
                <br>
                <div id="success">
                    <button type="submit" class="btn">Update Entry</button>
                </div>
         </form>
      </div>
    </div>
{% endblock %}
