{% extends "includes/base.html" %}

{% block body %}
    <div class="row">
        <div class="col-sm-3 col-lg-offset-4">
            <h2>Login In</h2>
            <div class="row control-group">
                 <form method="post" action="/">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                    {% from "includes/_formhelpers.html" import render_field %}
                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <!--<label>Phone Number</label>-->
                            {{ render_field(login_form.user_name, class="form-control")}}
                            <!--<input >-->
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <!--<label>Message</label>-->
                            {{ render_field(login_form.password, class="form-control")}}
                            <!--<textarea rows="5"  ></textarea>-->
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <br>
                    <div id="success"></div>
                        <button type="submit" class="btn">Sign in!</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
