{% extends "includes/base.html" %}

{% block body %}
    <div class="row">
          <div class="col-sm-3 col-sm-offset-2">
            <h2>Add your site</h2>
            <form name="form" class="form-horizontal" action="/logged_in" method="post">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
          <div class="form-group">
            <label class="control-label col-sm-2" for="site_name">Site Name</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" name="site_name" id="site_name" placeholder="Site Name">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-2" for="site_url">Site URL</label>
            <div class="col-sm-10">
              <input type="url" class="form-control" name="site_url" id="site_url" placeholder="Site URL">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-2" for="login_name">Login</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" name="login_name" id="login_name" placeholder="Login Name">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-2" for="pwd">Password</label>
            <div class="col-sm-10">
              <input type="password" class="form-control" name="password" id="pwd" placeholder="Password">
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button type="submit" class="btn btn-default">Submit</button>
            </div>
          </div>
        </form>
        </div>
        <div class="col-sm-6">
        <div class="col-sm-5 col-sm-offset-2">
            <h2> List Of All Entries</h2>
                <div class="row control-group">
                    <table class="table table-striped">
                        <tr>
                            <th>ID</th>
                            <th class="col-md-2">Site Name</th>
                            <th>Site Url</th>
                            <th>Options</th>
                        </tr>
                        {% for entry in all_entries %}
                        <tr>
                            <td>{{entry.id}}</td>
                            <td>{{entry.site_name}}</td>
                            <td>{{entry.site_url}}</td>
                            <td>
                                    <form> <!-- https://stackoverflow.com/questions/24088814/html5-button-formaction-attribute-not-working-outside-of-form - this could be done without the "form" tag who is here present only so that the formaction/method works -->
                                        <button type="submit" formmethod="get" formaction="/edit/{{ entry.id }}" class="btn btn-success">Update</button>
                                        <button type="submit" formmethod="get" formaction="/delete/{{ entry.id }}" class="btn btn-danger">Delete</button>
                                        <button type="submit" formmethod="get" formaction="/issuetoken/{{ entry.id }}" class="btn btn-warning">Link</button>
                                    </form>
                            </td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}